<!DOCTYPE html>
<html>
  <head>
    <title>VisMemo</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body class="ordermemo">
  	<script type="text/javascript" src="/lib/d3.min.js"></script>
	<script type="text/javascript" src="/lib/jquery-3.3.1.min.js"></script>

	<script type="text/javascript" src="/javascripts/gameControl.js"></script>
	<script type="text/javascript" src="/javascripts/internal.js"></script>

  <div class="main-box">

    <div class="header-box">

      <!-- start interface -->

      <p class="game-name">Memory Game</p>

      <p class="header-instructions">Welcome back! You may try the practice again, or skip right on to the game.</p> 

      
    
    </div>

    <div class="content-box">

      <!-- loading interface -->

      <!-- <div class="loading">loading...</div> -->

      <!-- game interface -->

      <div class="game-box">
        
        <button class="practice-button" id="start-practice">Start Practice</button> 

        <p class="block"></p>

        <button class="practice-button">Skip Practice</button> 

        <p class="instructions">By making judgement about these images, you are participating in a study being performed by cognitive scientist in Computer Science and Engineering Department of the Ohio State University. If you have questions about this research, please contact Dr. Chen as chen.8028@osu.edu, your performance in this research is voluntary, you may quit the experiment at any time without any adverse consequence. Your anonymity is ensured, the researchers who have request your participation will not receive any personal information from you.</p>

      </div>    
      
    </div>

    <div class="footer-box">
      
      <!-- progress bar -->
      <!-- <div class="progress-bar">
        <label class="bar-label">Progress</label>
        <div class="bar"></div>
        <div class="shader"></div>
      </div> -->

      <!-- quit button -->

    </div>

  </div>

  </body>
</html>
