<!DOCTYPE html>
<html>
<head>
    <title>VisMemo</title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body class="ordermemo">
<script type="text/javascript" src="/lib/d3.min.js"></script>
<script type="text/javascript" src="/lib/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="/lib/underscore-min.js"></script>

<script type="text/javascript" src="/javascripts/gameControl.js"></script>
<script type="text/javascript" src="/javascripts/internal.js"></script>
<script type="text/javascript" src="/javascripts/imageSequence.js"></script>
<script type="text/javascript" src="/javascripts/comm.js"></script>
<script type="text/javascript" src="/javascripts/userDB.js"></script>
<script type="text/javascript" src="/javascripts/imageDB.js"></script>
<script type="text/javascript" src="/javascripts/imageShow.js"></script>
<script type="text/javascript" src="/javascripts/dataAnalysis.js"></script>

<div class="main-box">

    <div class="header-box">

        <!-- start interface -->

        <p class="game-name">Memory Game</p>

        <p class="header-instructions">Welcome to our memory game, please input your AMT workID below.</p>

    </div>

    <div class="content-box">

        <!-- loading interface -->

        <div class="loading">loading...

        </div>

        <!-- workID information collection -->

        <div class="workID-box">
            <table class="workIDTable">
                <tr style="height: 2rem">
                    <td style="width: 50%;text-align: right;">
                        <label id="workIDLabel" style="font-size: 0.8rem">Your AMT WorkerID</label>
                    </td>
                    <td style="width: 50%">
                        <input type="text" name="workIDtext" class="workID-input">
                    </td>
                </tr>
                <tr>
                    <td colspan="2" style="text-align: center;">
                        <button class="submitworkID-button">Submit</button>
                    </td>
                </tr>
            </table>

            <div class="workIDhint-box">
                <p>Hint: You can find you workerID on your Dashboard or in the upper left corner of the new Worker
                    website</p>
                <img src="/images/workIDhint.png" style="width: 12rem; height: 4.5rem; ">
                <p style="color: red;display: none;" id="warningText">Please fill in the WorkerID!</p>
            </div>
        
        </div>

        <!-- demographic information collection for new worker -->
        <div class="demo-box">

          <p>We will not use your demographic information for any risk research.</p>
          
          <table class="demoTable">
            <tr>
              <td style="text-align: right;width: 40%">Gender: </td>
              <td style="text-align: left;">
                <select id="genderSelect" style="width: 7rem;height: 1.3rem">
                  <option>Male</option>
                  <option>Female</option>
                </select>
              </td>
            </tr>
            <tr>
              <td style="text-align: right;">Age: </td>
              <td style="text-align: left;">
                <input type="text" id="age-text" style="width: 7rem">
              </td>
            </tr>
            <tr>
              <td style="text-align: right;">Country: </td>
              <td style="text-align: left;">
                <input type="text" id="country-text" style="width: 7rem">
              </td>
            </tr>
            <tr>
              <td colspan="2">
                <button id="demoSubmit">Submit</button>
              </td>
            </tr>
          </table>

          <p style="color: red;display: none; top: 10%; position: relative;" id="warningText2">Please fill in all fields!</p>

        </div>

        <!-- Informed consent form -->
        <div class="consent-box">

            <div class="consent-form-box">
                <p class="c2"><span class="c5 c4">Investigate Project Participation Agreement </span></p><p class="c2"><span class="c5 c4">The Ohio State University</span></p><p class="c2"><span class="c0">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></p><p class="c1"><span class="c0">Welcome to our online investigate project. This Investigate Project Participation Agreement (the &quot;Agreement&quot;) is a binding agreement between you and The Ohio State University regarding your access to and use of the Site. The Ohio State University and its affiliates (&quot;we,&quot; &quot;us,&quot; or &quot;our&quot;) provide the Site to you subject to this Agreement. This Agreement consists of the terms and conditions below:</span></p><p class="c1"><span class="c0">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></p><p class="c1"><span class="c9">By accessing (including by automated means) or registering for the Site, you accept this Agreement and represent that you are </span><span class="c4">at least 18 years old </span><span class="c0">and have authority to bind yourself or the company you represent to this Agreement. Please read this Agreement carefully.</span></p><p class="c1"><span class="c0">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></p><p class="c1"><span class="c4">Title of Project: </span><span class="c4 c10">Design and evaluation of visualization methods for scalar, vector, and tensor fields and graphs</span></p><p class="c1"><span class="c0">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></p><p class="c1"><span class="c4">Principle investigator: </span><span class="c6">Jian Chen, The Ohio State University, (540)818-3618</span><span class="c0">&nbsp;</span></p><p class="c1 c12"><span class="c4 c5"></span></p><p class="c1"><span class="c4">I. INTRODUCTION/PURPOSE</span><span class="c0">:</span></p><p class="c1"><span class="c0">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></p><p class="c1"><span class="c0">I am being asked to participate in a research study. The purpose of this study is to compare, understand, or enhance interactive visualization methods to improve human ability to use interactive user interface for knowledge discovery. I am being asked to volunteer because I may help understand how we see and interact with computers. My involvement in this study will begin when I agree to participate and will continue until the end of the study in about an hour.</span></p><p class="c1"><span class="c0">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></p><p class="c1"><span class="c5 c4">II. PROCEDURES:</span></p><p class="c1"><span class="c0">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></p><p class="c1"><span class="c0">As a participant in this study, I will be asked to perform a set of visualization tasks using several interfaces and visualization methods on a computer screen. These tasks consist of viewing several interactive display methods for human perception and cognition analysis.</span></p><p class="c1"><span class="c0">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></p><p class="c1"><span class="c0">I will be asked to fill out a pre-questionnaire to check if I have a normal visual ability, I will read a set of instructions related to this experiment, I will be asked take a short practice test in order to ensure I understand the instructions before taking real task, I understand if I failed in practice test for more than three times, I will be paid a slight financial compensation for my time and be blocked from the system. My participation in this study will last for about 1 hour in a single visit. Audio or video recording or detailed note taking may occur.</span></p><p class="c1"><span class="c0">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></p><p class="c1"><span class="c0">My role to the tests is that of evaluator of the software. I will not be evaluated in any way; but be helping evaluate the visualization system. All information that obtained from me will remain anonymous. The time it takes me to do each task and other aspects of my interaction with the system will be measured. I can ask questions during and after the evaluation, in order to clarify my understanding of the experiment.</span></p><p class="c1"><span class="c0">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></p><p class="c1"><span class="c5 c4">III. RISKS AND BENEFITS</span></p><p class="c1"><span class="c0">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></p><p class="c1"><span class="c0">My participation in this study does not involve any significant risks and I have been informed that my participation in this research may or may not benefit me personally. I may get financial rewards for participating this study. I may also get to learn the state-of-the-art visualization techniques.</span></p><p class="c1"><span class="c0">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></p><p class="c1"><span class="c0">I have been informed that participation in this study may involve no foreseeable risks, beyond those present in routine daily life. All light and sound intensities are well within normal range. The physical components of these tasks are not stressful, and include only head and body turning and pointing. The only foreseeable physical risks are very slight eyestrain caused by the use of a computer monitor. There are no known mental risks.</span></p><p class="c1"><span class="c0">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></p><p class="c1"><span class="c5 c4">IV. CONFIDENTIALITY:</span></p><p class="c1"><span class="c0">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></p><p class="c1"><span class="c0">Any information learned and collected from this study in which I might be identified will remain confidential and will be disclosed ONLY if I give permission. The investigator (s) will attempt to keep my personal information confidential. To help protect my confidentiality, other than the consent forms, my mturk workerID will not appear in any other information provided for this study. My responses to various questionnaires will be matched using a participant identification number that has been assigned to me for the duration of this study. The computer saved the performance files will be password-protected. At the conclusion of data collection for this study, the list linking participant workerID with participant identification numbers will be destroyed.</span></p><p class="c1"><span class="c0">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></p><p class="c1"><span class="c0">Data gathered from the present study will be stored in a secure location in locked filing cabinets for six years, at which time it will be destroyed. Findings will be presented in aggregate form with no identifying information to ensure confidentiality.</span></p><p class="c1"><span class="c0">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></p><p class="c1"><span class="c0">Only the investigator and members of the research team will have access to these records. If information learned from this study is published, I will not be identified by name. By signing this form, however, I allow the research study investigator to make my records available to the Ohio State University Institutional Review Board (IRB) and regulatory agencies as required to do so by law.</span></p><p class="c1"><span class="c0">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></p><p class="c1"><span class="c0">Consenting to participate in this research also indicates my agreement that all information collected from me individually may be used by current and future researchers in such a fashion that my personal identity will be protected. Such use will include sharing anonymous information with other researchers for checking the accuracy of study findings and for future approved research that has the potential for improving human knowledge.</span></p><p class="c1"><span class="c0">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></p><p class="c1"><span class="c0">Additionally, (1) my workerID will not be included on the surveys and other collected data; (2) a code will be placed on the survey and other collected data; (3) through the use of an identification key, the researcher will be able to link my survey to my identity workerID; and (4) only the researcher will have access to the identification key.</span></p><p class="c1"><span class="c0">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></p><p class="c1"><span class="c5 c4">V. SPONSOR OF THE RESEARCH:</span></p><p class="c1"><span class="c0">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></p><p class="c1"><span class="c3">The National Science Foundation and OSU are sponsoring this research study.</span></p><p class="c1"><span class="c0">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></p><p class="c1"><span class="c5 c4">VI. COMPENSATION/COSTS:</span></p><p class="c1"><span class="c0">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></p><p class="c1"><span class="c0">My participation in this study will involve no cost to me. I will be paid for my participation at $8 / hour but no more than $16 total.</span></p><p class="c1"><span class="c0">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></p><p class="c1"><span class="c5 c4">VII. EXPLANATION OF TREATMENT AND COMPENSATION FOR INJURY:</span></p><p class="c1"><span class="c0">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></p><p class="c1"><span class="c0">If I suffer from an injury as a direct result of this research, medical care may be obtained by me in the same manner as I would ordinarily obtain medical treatment. No provision has been made for financial payments or other forms of compensation (such as lost wages, medical cost reimbursement, lost time or discomfort) with respect to such injuries.</span></p><p class="c1"><span class="c0">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></p><p class="c1"><span class="c5 c4">VIII. CONTACTS AND QUESTIONS:</span></p><p class="c1"><span class="c0">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></p><p class="c1"><span class="c0">The principal investigator(s), Jian Chen, has offered to and has answered any and all questions regarding my participation in this research study. If I have any further questions, I can contact Jian Chen at (540)818-3618 or chen.8028@osu.edu.</span></p><p class="c1"><span class="c0">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></p><p class="c1"><span class="c0">If I have any questions about my rights as a participant in this research study, contact the Office for the Responsible Research Practice, The Ohio State University, (614) 688-8557.</span></p><p class="c1"><span class="c0">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></p><p class="c1"><span class="c5 c4">IX. VOLUNTARY PARTICIPATION</span></p><p class="c1"><span class="c0">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></p><p class="c1"><span class="c0">I have been informed that my participation in this research study is voluntary and that I am free to withdraw or discontinue participation at any time. I have been informed that data collected for this study will be retained by the investigator and analyzed even if I choose to withdraw from the research. If I do choose to withdraw, the investigator and I have discussed my withdrawal and the investigator may use my information up to the time I decide to withdraw.</span></p><p class="c1"><span class="c0">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></p>
            </div>

            <div class="consent-option-box">
                <p class="c1"><span class="c0">Please check the box below:</span></p><p class="c1"><span class="c0">I agree to the following:</span>
                <input type="checkbox" id="consent-checkbox">    
                </p><ul class="c8 lst-kix_yzdhopz7qrz0-0 start"><li class="c1 c7"><span class="c0">I accept the Participation Agreement and Privacy Notice above.</span></li><li class="c1 c7"><span class="c0">I am over 18 years of age.</span></li><li class="c1 c7"><span class="c0">I will comply with all applicable laws.</span></li></ul><p class="c1"><span class="c0">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></p><p class="c1"><span class="c0">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></p><p class="c1"><span class="c0">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></p><p class="c1 c12"><span class="c0"></span></p>
                <button id = "consentAgree-button">Next step</button> 
            </div>
            

            
            
        </div>

        <!-- game interface -->

        <div class="game-box">

            <button class="practice-button" id="start-practice">Start Practice</button>

            <p class="block"></p>

            <button class="practice-button" id="skip-practice">Skip Practice</button>

            <p class="instructions">By making judgement about these images, you are participating in a study being
                performed by cognitive scientist in Computer Science and Engineering Department of the Ohio State
                University. If you have questions about this research, please contact Dr. Chen as chen.8028@osu.edu,
                your performance in this research is voluntary, you may quit the experiment at any time without any
                adverse consequence. Your anonymity is ensured, the researchers who have request your participation will
                not receive any personal information from you.</p>

            <p style="color: red;display: none; text-align: center;" id="practiceNotification">Please finish the practice first!</p>

            <p class="before-instructions">Click go! to begin.</p>

            <div class = "imageContainer">
                <img src="" class="visImage">
                <img src="/images/defult_feedback.png" class="feedbackImage">
            </div> 

            <button id = "begingame-button">go!</button>

        </div>

        <!-- show summary information -->
        <div class="summary-box">
            <p style="font-weight: bold;">Your score in this level is:</p>
            <p id="hit-p">The number of visualization was recognized when shown for the second time:</p>
            <p id="miss-p">The number of visualization was not recognized (missed) when shown for the second time</p>
            <p id="fa-p">The number of visualization was mistakenly recognized when shown for the first time</p>
            <p id="cr-p">The number of visualization was shown for the first time and not mistakenly recognized</p> 
            <p id="levelcode-p">
                <label>Your reward code is: </label>
                <label id=levelcode></label>
            </p>    

            <button id = "nextlevel-button">Enter next level</button>     
        </div>

        <!-- warning information -->
        <div class="warning-box">
            <p id="warning-text">Sorry, according to our record, you have a bad performance in previous 30 non-repeat images, which means you mistakenly recognized
            the image show first time as a repeat image at a rate of more than 50%, in order to ensure the quality of our experiment, please take a 
            rest and continue this level again.</p>
            <p id="warning-note">Note: if you failed in our vigilance task for three times, you will lost your chance to attend our game.</p>

            <button id = "redolevel-button">Redo the level</button>
        </div>

        <!-- practice information -->
        <div class="practice-box">
            <p id="practice-text">
                You almostly pass our practice! Please click the button and try one more time, you can do it!
            </p>

            <button id = "repractice-button">Practice again</button>
            <button id = "goback-button">Go game</button>

        </div>


    </div>

    <div class="footer-box">

        <!-- progress bar -->
        <div class="progress-bar">
            <label class="bar-label">Progress</label>
            <div class="bar"></div>
            <div class="shader"></div>
        </div>

        <!-- quit button -->

    </div>



</div>

</body>
</html>
