/**－－－－－－－－－－－－－public-start－－－－－－－－－－－－**/

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif; 
  font-weight: normal;
  background-color: #e6e6e6; background-size: 100% 100%; 
}

a {color: #00B7FF;}


/**－－－－－－－－－－－－－public-end－－－－－－－－－－－－**/

/**－－－－－－－－－－－－－ordermemo application page start－－－－－－－－－－－－**/

/* the contain of whole interface */
.ordermemo .main-box{}

/* box for header, greeting, and instructions */
.ordermemo .main-box .header-box{position: absolute; top:2%; left: 0%; width: 100%; height: 5%; background-color: #e6e6e6;
	margin-left: auto; margin-right: auto;}
.ordermemo .main-box .header-box .game-name{text-align:center; font-weight: bold; position: relative; top:0%;}
.ordermemo .main-box .header-box .header-instructions{text-align: center; top: 0%; padding: 0.4rem; position: relative;}



/* box for present pictures, control button, feedback img or other things in the game. */
.ordermemo .main-box .content-box{position: absolute; top:7%; left: 0%; width: 100%; height: 86%; background-color: #e6e6e6;
	margin-left: auto; margin-right: auto}

/*------------------------------------------workID-box-------------------------------------------*/

.ordermemo .main-box .content-box .workID-box{position: absolute; left: 20%; width: 60%; height: 100%; background-color: #e6e6e6;
	margin-left: auto; margin-right: auto;display: block;}

.ordermemo .main-box .content-box .workID-box .workIDTable{left: 25%; position: relative; width: 50%; height: 20%; top:10%;}

.ordermemo .main-box .content-box .workID-box .submitworkID-button{width: 60%;height: 1.6rem;border-radius: 0.05rem; font-size: 0.8rem}

.ordermemo .main-box .content-box .workID-box .workIDhint-box{position: relative;width: 60%; height: 50%;left: 20%; top:20%; text-align: center;}

/*-----------------------------------------demographic-box-------------------------------------*/
.ordermemo .main-box .content-box .demo-box{position: absolute; left: 20%; width: 60%; height: 100%; background-color: #e6e6e6;
	margin-left: auto; margin-right: auto;display: none; text-align: center;}

.ordermemo .main-box .content-box .demo-box .demoTable{left: 25%; position: relative; width: 50%; height: 40%; top:10%;}

#demoSubmit{width: 5rem;height: 1.6rem;border-radius: 0.2rem; font-size: 0.8rem; cursor: pointer;}
#demoSubmit:hover{background-color: #e6e6e6}

/*--------------------------------------------game-box------------------------------------------*/
.ordermemo .main-box .content-box .game-box{position: absolute; left: 20%; width: 60%; height: 100%; background-color: #e6e6e6;
	margin-left: auto; margin-right: auto;display: none}

.ordermemo .main-box .content-box .game-box .practice-button{ height: 1.86rem; width: 10rem; top: 0%;
	border-radius: 0.1rem; position: relative;
	background:#f0f0f0; margin: 0 auto; line-height:1.86rem; text-align: center; 
	font-size: 14px; color: #000000; cursor: pointer; }
.ordermemo .main-box .content-box .game-box .practice-button:hover{background-color: #e6e6e6}

.ordermemo .main-box .content-box .game-box .instructions{text-align: left; position: relative;top: 0%}

.ordermemo .main-box .content-box .game-box .before-instructions{text-align: center; top: 30%; position: relative; display: none}

#begingame-button{height: 1.86rem; width: 7rem; border-radius: 0.2rem; top:40%; position: relative;
	background:#f0f0f0; margin: 0 auto; line-height:1.86rem; text-align: center; 
	font-size: 14px; color: #000000; cursor: pointer; display: none}
#begingame-button:hover{background-color: #e6e6e6}

.imageContainer{
	display: none;
	position: absolute;    
    top: 50%;
    left: 50%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

.visImage{display: none;max-width: 45rem;max-height: 45rem; }

.feedbackImage{display: none; width: 1rem;height: 1rem; }

/*--------------------------------------------summary-box------------------------------------------*/

.ordermemo .main-box .content-box .summary-box{position: absolute; left: 0%; top: 20%; width: 100%; height: 100%; background-color: #e6e6e6;
	margin-left: auto; margin-right: auto;display: none; text-align: center;}

#nextlevel-button{height: 1.86rem; width: 7rem; border-radius: 0.2rem; top:10%; position: relative;
	background:#f0f0f0; margin: 0 auto; line-height:1.86rem; text-align: center; 
	font-size: 0.8rem; color: #000000; cursor: pointer; display: none}
#nextlevel-button:hover{background-color: #e6e6e6}
#levelcode{font-weight: bold;color: #53ac58}

/*--------------------------------------------warning-box------------------------------------------*/

.ordermemo .main-box .content-box .warning-box{position: absolute; left: 20%; top: 20%; width: 60%; height: 100%; background-color: #e6e6e6;
	margin-left: auto; margin-right: auto;display: none; text-align: center;}

#redolevel-button{height: 1.86rem; width: 10rem; border-radius: 0.2rem; top:10%; position: relative;
	background:#f0f0f0; margin: 0 auto; line-height:1.86rem; text-align: center; 
	font-size: 0.8rem; color: #000000; cursor: pointer; display: none}
#redolevel-button:hover{background-color: #e6e6e6}

/*--------------------------------------------practice-box------------------------------------------*/

.ordermemo .main-box .content-box .practice-box{position: absolute; left: 20%; top: 20%; width: 60%; height: 100%; background-color: #e6e6e6;
	margin-left: auto; margin-right: auto;display: none; text-align: center;}

#repractice-button{height: 1.86rem; width: 10rem; border-radius: 0.2rem; top:10%; position: relative;
	background:#f0f0f0; margin: 0 auto; line-height:1.86rem; text-align: center; 
	font-size: 0.8rem; color: #000000; cursor: pointer; display: none}
#repractice-button:hover{background-color: #e6e6e6}

#goback-button{height: 1.86rem; width: 10rem; border-radius: 0.2rem; top:20%; position: relative;
	background:#f0f0f0; margin: 0 auto; line-height:1.86rem; text-align: center; 
	font-size: 0.8rem; color: #000000; cursor: pointer; display: none}
#goback-button:hover{background-color: #e6e6e6}

/*--------------------------------------------consent-box------------------------------------------*/

.ordermemo .main-box .content-box .consent-box{position: absolute; left: 10%; top: 0%; width: 80%; height: 90%; background-color: #e6e6e6;
	margin-left: auto; margin-right: auto;display: none; text-align: center}

.ordermemo .main-box .content-box .consent-form-box{position: absolute; left: 5%; top: 5%; width: 90%; 
	height: 60%; background-color: #ffffff; padding: 1rem;
	margin-left: auto; margin-right: auto; text-align: center;border:1px solid #cccccc; overflow-y: scroll;}

.ordermemo .main-box .content-box .consent-option-box{position: absolute; left: 5%; top: 70%; width: 90%; height: 20%; background-color: #e6e6e6;
	margin-left: auto; margin-right: auto;display: block; text-align: center;}

#consentAgree-button{height: 1.86rem; width: 10rem; border-radius: 0.2rem; top:10%; position: relative;
	background:#f0f0f0; margin: 0 auto; line-height:1.86rem; text-align: center; 
	font-size: 0.8rem; color: #000000; cursor: pointer; }
#consentAgree-button:hover{background-color: #e6e6e6}

/*--------------------------------------------block-box------------------------------------------*/

.ordermemo .main-box .content-box .block-box{position: absolute; left: 20%; top: 20%; width: 60%; height: 100%; background-color: #e6e6e6;
	margin-left: auto; margin-right: auto;display: none; text-align: center;}

#generateCode-button{height: 1.86rem; width: 10rem; border-radius: 0.2rem; top:10%; position: relative;
	background:#f0f0f0; margin: 0 auto; line-height:1.86rem; text-align: center; 
	font-size: 0.8rem; color: #000000; cursor: pointer; display: none}
#generateCode-button:hover{background-color: #e6e6e6}

/*-------------------------------------------loading-bar------------------------------------------*/

.ordermemo .main-box .content-box .loading{height: 1.86rem; top:8rem; text-align: center; display: none; position: relative;
background:#f0f0f0; line-height: 1.86rem}

/* box for show copyright, end instruction and so on.*/
.ordermemo .main-box .footer-box{position: absolute; top:93%; left: 0%; width: 100%; height: 5%; background-color: #e6e6e6;
	margin-left: auto; margin-right: auto}
.ordermemo .main-box .footer-box .progress-bar{height: 1.5rem;width: 100%; display: none;}  
.ordermemo .main-box .footer-box .progress-bar .bar-label{line-height: 1.5rem;text-align: left; margin-left: 1rem;
font-size:0.9rem;}
.ordermemo .main-box .footer-box .progress-bar .bar{height: 1.0rem; width: 70%; top:0.25rem;left:20%;
	background-color: #e6e6e6; position: absolute; border: 0.01rem solid #999999;}
.ordermemo .main-box .footer-box .progress-bar .shader{height: 1.0rem; width: 0%; top:0.25rem;left:20%;
	background-color: #666666; position: absolute; border: 0.01rem solid #999999;}


/**－－－－－－－－－－－－－ordermemo application page end－－－－－－－－－－－－**/

ul.lst-kix_yzdhopz7qrz0-2{list-style-type:none}ul.lst-kix_yzdhopz7qrz0-1{list-style-type:none}ul.lst-kix_yzdhopz7qrz0-0{list-style-type:none}ul.lst-kix_yzdhopz7qrz0-6{list-style-type:none}ul.lst-kix_yzdhopz7qrz0-5{list-style-type:none}ul.lst-kix_yzdhopz7qrz0-4{list-style-type:none}ul.lst-kix_yzdhopz7qrz0-3{list-style-type:none}.lst-kix_yzdhopz7qrz0-5>li:before{content:"\0025a0  "}.lst-kix_yzdhopz7qrz0-4>li:before{content:"\0025cb  "}.lst-kix_yzdhopz7qrz0-6>li:before{content:"\0025cf  "}ul.lst-kix_yzdhopz7qrz0-8{list-style-type:none}ul.lst-kix_yzdhopz7qrz0-7{list-style-type:none}.lst-kix_yzdhopz7qrz0-3>li:before{content:"\0025cf  "}.lst-kix_yzdhopz7qrz0-7>li:before{content:"\0025cb  "}.lst-kix_yzdhopz7qrz0-1>li:before{content:"\0025cb  "}.lst-kix_yzdhopz7qrz0-0>li:before{content:"\0025cf  "}.lst-kix_yzdhopz7qrz0-2>li:before{content:"\0025a0  "}.lst-kix_yzdhopz7qrz0-8>li:before{content:"\0025a0  "}ol{margin:0;padding:0}table td,table th{padding:0}.c0{color:#000000;font-weight:400;text-decoration:none;vertical-align:baseline;font-size:11pt;font-family:"Times New Roman";font-style:normal}.c10{-webkit-text-decoration-skip:none;color:#000000;text-decoration:underline;vertical-align:baseline;text-decoration-skip-ink:none;font-size:11pt;font-style:normal}.c3{color:#000000;font-weight:400;text-decoration:none;vertical-align:baseline;font-size:11pt;font-family:"Times New Roman";font-style:italic}.c2{padding-top:0pt;padding-bottom:0pt;line-height:1.15;orphans:2;widows:2;text-align:center}.c1{padding-top:0pt;padding-bottom:0pt;line-height:1.15;orphans:2;widows:2;text-align:left}.c6{text-decoration-skip-ink:none;font-family:"Times New Roman";-webkit-text-decoration-skip:none;font-weight:400;text-decoration:underline}.c5{color:#000000;text-decoration:none;vertical-align:baseline;font-size:11pt;font-style:normal}.c11{background-color:#ffffff;max-width:468pt;padding:72pt 72pt 72pt 72pt}.c9{font-weight:400;font-family:"Times New Roman"}.c4{font-weight:700;font-family:"Times New Roman"}.c8{padding:0;margin:0}.c7{margin-left:36pt;padding-left:0pt}.c12{height:11pt}.title{padding-top:0pt;color:#000000;font-size:26pt;padding-bottom:3pt;font-family:"Arial";line-height:1.15;page-break-after:avoid;orphans:2;widows:2;text-align:left}.subtitle{padding-top:0pt;color:#666666;font-size:15pt;padding-bottom:16pt;font-family:"Arial";line-height:1.15;page-break-after:avoid;orphans:2;widows:2;text-align:left}li{color:#000000;font-size:11pt;font-family:"Arial"}p{margin:0;color:#000000;font-size:11pt;font-family:"Arial"}h1{padding-top:20pt;color:#000000;font-size:20pt;padding-bottom:6pt;font-family:"Arial";line-height:1.15;page-break-after:avoid;orphans:2;widows:2;text-align:left}h2{padding-top:18pt;color:#000000;font-size:16pt;padding-bottom:6pt;font-family:"Arial";line-height:1.15;page-break-after:avoid;orphans:2;widows:2;text-align:left}h3{padding-top:16pt;color:#434343;font-size:14pt;padding-bottom:4pt;font-family:"Arial";line-height:1.15;page-break-after:avoid;orphans:2;widows:2;text-align:left}h4{padding-top:14pt;color:#666666;font-size:12pt;padding-bottom:4pt;font-family:"Arial";line-height:1.15;page-break-after:avoid;orphans:2;widows:2;text-align:left}h5{padding-top:12pt;color:#666666;font-size:11pt;padding-bottom:4pt;font-family:"Arial";line-height:1.15;page-break-after:avoid;orphans:2;widows:2;text-align:left}h6{padding-top:12pt;color:#666666;font-size:11pt;padding-bottom:4pt;font-family:"Arial";line-height:1.15;page-break-after:avoid;font-style:italic;orphans:2;widows:2;text-align:left}
